.cardsection{
    width: 90%;
    margin: auto;
    background-color: antiquewhite;
 }


img{
    width: 100%;
    height: 200px;
}
.card-card{
   
    border: 1px solid;
}
.card-title-head{
    text-align: center;
}
h2,p{
    text-align: center;
    padding: 10px 0px;
}